html, body {
	padding:0px;
	margin:0px;

}

html {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	display: block;
    width: 100%;
	font-family: sans-serif;
}

a:link {
	text-decoration:underline;
	color: inherit;
	transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
   -webkit-backface-visibility: hidden;
}

a:visited {
	text-decoration:underline;
	color: inherit;
}

a:hover {
	text-decoration:underline;
	color: inherit;
	opacity: 0.9;
}

a:active {
	text-decoration:underline;
	color: inherit;
}

.main-image {
    width: 100%;
}
